body {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 200px;

}

table {
    width: 100%;
    justify-content: center;
    align-items: center;

}

.container {
  justify-content: center;
  align-items: center;
  margin: 30px 300px 0px 300px;
}
