.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.top-15 {
    padding-top: 15px;
}

.btn-success {
    background-color: #673ab7;
    color: #fff;
}

.btn-info {
    background-color: #b0bec5;
    color: #000000;
}

.example-form {
    min-width: 150px;
    width: 100%;
}

.imput-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.title {
    font: oblique 140% cursive;
}

.container-colors {
    display: flex;
    & .container-color {
        justify-content: center;
        border-radius: 1rem;
        align-items: center;
        margin: 0rem 0.5rem;
        background: gray;
        display: flex;
        height: 2rem;
        width: 6rem;
    }
}

.container-images {
    padding-top: 0.5rem;
    overflow-x: auto;
    width: 100%;
    & .container-img {
        position: relative;
        margin: 0 .5rem;
        height: 8rem;
        width: 8rem;
        & i {
            justify-content: center;
            position: absolute;
            align-items: center;
            border-radius: 50%;
            background: red;
            cursor: pointer;
            right: -0.5rem;
            display: flex;
            color: #FFF;
            top: -0.5rem;
            height: 2rem;
            width: 2rem;
        }
        & img {
            border-radius: 0.33rem;
            height: 8rem;
            width: 8rem;
        }
    }
}